/* Jamie's CSS Style Page */

/* Centers the content on the page */
.content {
  margin: auto;
  width: 40%;
  padding: 100px;
  border: 3px solid #8b64e5;
  text-align: center;
  border-radius: 15px;
}

/* Edits unordered lists */
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.inventory {
  margin: auto;
  width: 20%;
  padding: 50px;
  border: 3px solid #8b64e5;
  text-align: center;
  border-radius: 15px;
}
