/* CSS Style Page */
/* Jamie Harris */

/* Sets the style for the first heading */
h1 {
  font-family: garamond;
  font-size: 50px;
}

/* Sets the style for the second heading */
h2 {
  font-family: garamond;
  font-size: 35px;
}

/* Sets the style for paragraph text */
p {
  font-family: garamond;
  font-size: 20px;
}

/* Edits unordered lists */
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* Centers the content on the page */
.content {
  margin: auto;
  width: 40%;
  padding: 40px 80px 20px 80px;
  border: 3px solid #8b64e5;
  text-align: center;
  border-radius: 15px;
}

/* Buttons that take you to the next page */
.button {
  background: #8b64e5;
  color: white;
  font-family: garamond;
  line-height: 50px;
  width: 100px;
  font-size: 1.2em;
  border-radius: 5px;
  border-width: 0px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

/* Centers the homecontent on the page */
.homeContent {
  margin: auto;
  width: 40%;
  padding: 100px;
  text-align: center;
}

/* Toggle Dark Theme */
#theme-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

#theme-btn:hover {
  color: black;
}

/* Change theme class */
.changeTheme {
  background: #1D1E22;
  color: #eee;
}
