/* Navbar CSS */
/* Jamie Harris */

/* Changes the colour of the background of the navbar */
.topnav {
  background-color: #8b64e5;
  overflow: hidden;
}

/* Styles the links inside the nav bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: garamond;
}

/* Changes the colour of the links when you hover over them */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
}
  
/* changes the colour of the active link */
.topnav a.active {
  background-color: #8022a2;
  color: white;
}
